@font-face {
   font-family: pixelfont;
   src: url(Silom.ttf);
}


h1 {
  margin-top: 0;
  text-align: center;
  font-family: pixelfont;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 25px;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

footer {
  font-family: pixelfont;
  text-align: center;
  padding-top: 575px;
}

#court {
  background-color: white;
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background-image: url(../images/WDF_2469506.png);
  border: 2px;
  outline-color: black
}


.paddle {
  position: absolute;
  border-radius: 0px;
  width: 100px;
  height: 15px;
  top: 585px;
}

#paddleA {
  background: #0AFF0A;
  left: 0px;
}

#paddleB {
  background: #FF0A84;
  left: 700px;
}

#ball {
  position: absolute;
  top: 25px;
  left: 380px;
  width: 104px;
  height: 200px;
  border-radius: 10px;
  /*background: black;*/
  background-image: url(../images/cat.png);
  background-size: 104px 200px;
}

.score {
  position: absolute;
  display: inline-block;
  color: white;
  font-family: pixelfont;
  font-size: 60px;
  margin-right: 30px;

}

.scoreA {
  position: absolute;
  opacity: 1;
  color: #0AFF0A;
  margin-left: 50px;
  margin-top: 25px;
}

.scoreB {
  position: absolute;
  opacity: 1;
  color: #FF0A84;
  margin-left: 905px;
  margin-top: 25px;
}